:root {
  --orange: #F2A03D;
  --dark-orange: #F29441;
  --font-color: #2D2C40;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
}

.btn-primary {
  background-color: var(--orange);
  border-color: var(--orange);
}
.btn-primary:hover {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
}
.btn-primary:focus {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
}

header {
  font-family: 'Bebas Neue', cursive;
  background-color: var(--orange);
  color: var(--font-color);
  padding: 1rem;  
  text-align: center;
}
header h1 {
  font-size: 4rem;
}